body
{
	background-image: linear-gradient(white, rgb(95,158,160));
	font-family: Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6
{
	font-family: Palatino, serif;
}

header
{
	background: rgb(30, 65, 70);
	color: white;
}

header > h1
{
	float: right;
	max-width: 40%;
	font-size: 8.0em;
	margin: auto;
}

header > img
{
	border-radius: 50%;
	float: left;
	max-width: 40%;
	margin: 1.0em;
}
