body
{
	background-image: linear-gradient(white, rgb(95,158,160));
	font-family: Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6
{
	font-family: Palatino, serif;
}

header
{
	background: black;
	color: white;
}

header > h1
{
	float: right;
	max-width: 40%;
}

header > h3
{
	clear: both;
	text-align: justify;
}

header > img
{
	border-radius: 50%;
	float: left;
	max-width: 40%;
	padding-right: 10px;
}
