body
{
	background-image: linear-gradient(white, rgba(95,158,160,1));
	font-family: Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6
{
	font-family: Palatino, serif;
}

h1, h2
{
	text-align: center;
	background: rgba(90,90,90,0.63);
}
